@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 26% 9%;
    --foreground: 210 40% 98%;
    --card: 220 20% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 220 20% 12%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 220 26% 9%;
    --secondary: 220 17% 18%;
    --secondary-foreground: 210 40% 98%;
    --muted: 220 17% 18%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 220 17% 18%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 50%;
    --destructive-foreground: 210 40% 98%;
    --border: 220 17% 20%;
    --input: 220 17% 20%;
    --ring: 210 40% 98%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
